# binaries
bin/
build/

# ide config
.vscode/

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


logs/
data/test_schedule.csv
data/clean/